.video-presentation{
    height: 13rem;
    aspect-ratio: 16/9;
    background-color: #000;
    display: flex;
    position: relative;
    isolation: isolate;
    text-decoration: none;
}
.video-image{
    position: absolute;
    width: 100%;
    aspect-ratio: inherit;
    z-index: -1;
    filter: brightness(.5);
}
.video-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    gap: .5rem;
    position: relative;
    padding: 0 0 2rem 2rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.video-description::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 0;
    background: #0199ff;
    transition: .5s ease;
}
.video-description:hover::before {
    width: 100%;
}
.video-title, .video-author{
    margin: 0;
}
.video-title{
    font-size: 1.2rem;
}

.video-list{
    margin: 0 3rem 3rem 3rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 100vw;
    width: max-content;
}
.list-title{margin: 2rem 3rem;}

.video-page{
    display: flex;
}
.video-container{
    margin: 2rem;
    flex-grow: 1;
}
.video-player{
    width: clamp(500px, 100%,90vw);
    aspect-ratio: 16 /9;
}